@model IEnumerable<Muse.Models.TvShow>

@{
    ViewBag.Title = "Select TV Show to Add";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("« Cancel", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstAired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Network)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstAired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Network)
        </td>
        <td>
            @Html.ActionLink("Select", "SelectTvShowToAdd", new { tvdbID = item.TVDB_ID }, new { @class = "btn btn-default btn-xs" })
        </td>
    </tr>
}

</table>

<style>
    .table tr:hover {
        background-color: rgb(229, 244, 255);
    }
</style>
